<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>GDS</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="../../static/css/style.css">
  </head>

  <body class="home" style="background-color: #fcfcfc;">

    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">
        <a class="navbar-brand" href="../pages/homepage.html">
          <svg xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 30 30" height="25px" viewBox="0 0 30 30" width="25px" fill="#000000"><rect fill="none" height="24" width="24"/><path d="M12,2C6.48,2,2,6.48,2,12c0,1.33,0.26,2.61,0.74,3.77L8,10.5l3.3,2.78L14.58,10H13V8h5v5h-2v-1.58L11.41,16l-3.29-2.79 l-4.4,4.4C5.52,20.26,8.56,22,12,22h8c1.1,0,2-0.9,2-2v-8C22,6.48,17.52,2,12,2z M19.5,20.5c-0.55,0-1-0.45-1-1s0.45-1,1-1 s1,0.45,1,1S20.05,20.5,19.5,20.5z"/></svg>
          Kehillah Global
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav mx-auto mb-2 mb-xl-0 center-links">
              <!-- <a class="nav-link active" aria-current="page" href="../pages/homepage.html">Home</a> -->
              <a class="nav-link" href="../pages/data/catalog.html">Data</a>
              <a class="nav-link" href="../pages/organizations/orgs.html">Organizations</a>
              <div class="dropdown">
                  <button class="btn nav-link dropdown-toggle" type="button" id="aboutDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                      About
                  </button>
                  <div class="dropdown-menu" aria-labelledby="aboutDropdown">
                      <a class="dropdown-item" href="../pages/about_us.html">About Us</a>
                      <a class="dropdown-item" href="../pages/terms.html">Terms of Service</a>
                      <a class="dropdown-item" href="#">Website Policies</a>
                  </div>
              </div>
              <a class="nav-link active" href="../pages/contact.html">Contact</a>
          </div>
          <div class="navbar-nav ms-auto mb-2 mb-xl-0">
              <a class="nav-link" href="../pages/login.html" id="nav-btn">Login</a>
              <a href="../pages/signup.html"><button type="button" class="btn btn-dark">Sign Up</button></a>
          </div>
        </div>
      </div>
    </nav>

    <main class="container">

        <div class="row ">
            <h2 class="row justify-content-center mt-3 mb-3">Contact Us</h2>
            
            <div class="col-md-6">
                <form class="form-div">
                    <div class="form-group mb-4">
                        <label for="exampleInputEmail1" style="font-size: 1.2rem; padding: 12px">Name</label>
                        <input type="name" class="form-control form-contact" id="exampleInputEmail1" aria-describedby="emailHelp">
                      </div>

                    <div class="form-group mb-4">
                      <label for="exampleInputEmail1"  style="font-size: 1.2rem; padding: 12px">Email address</label>
                      <input type="email" class="form-control form-contact" id="exampleInputEmail1" aria-describedby="emailHelp">
                    </div>
                  
                    <div class="form-group mb-4">
                        <label for="exampleFormControlTextarea1" style="font-size: 1.2rem; padding: 12px">Message</label>
                        <textarea style="resize:none;" class="form-control form-contact" id="exampleFormControlTextarea1" cols="20" rows="2"></textarea>
                    </div>
                    <a href="../pages/contact_ty.html" class="btn btn-dark">Submit</a>
                </form>
            </div>

            <div class="col-md-6 d-flex flex-column align-items-center">
              <img src="https://www.bruyeredesign.com/wp-content/uploads/2021/06/2106_siteweb-131-768x648.png" class="ms-4 mt-0" style="width:70%; height:72%" alt="">
              <h4 class="mb-5 text-center">Please reach out to us with any inquiries or remarks!</h4>

              <div>
                <img style="width: 30px; height: 30px" src="../../static/images/call.png" class="me-3" />
                <img style="width: 30px; height: 30px" src="../../static/images/gmail.png" class="me-3" />
                <img style="width: 35px; height: 35px" src="../../static/images/whatsapp.png" class="me-3" />
              </div>
              
            </div>
            
        </div>
    </main>

    <div class="footer d-flex fixed-bottom flex-column align-items-center justify-content-center py-3">
      <div class="d-flex my-2">
        <a href="#">
            <img style="width: 25px; height: 25px" src="../../static/images/call.png" class="me-3" />
        </a>
        <a href="https://www.linkedin.com/company/kehillah-global/mycompany/">
            <img style="width: 25px; height: 25px" src="../../static/images/linkedin.png" class="me-3" />
        </a>
        <a href="https://www.facebook.com/login/">
            <img style="width: 25px; height: 25px" src="../../static/images/facebook.png" class="me-3" />
        </a>
        <a href="https://twitter.com/cli_nonprofit">
            <img style="width: 25px; height: 25px" src="../../static/images/twitter.png" class="me-3" />
        </a>
      </div>
      <div class="my-2" style="width: 900px; height: 0px; border: 0.50px #203ca1 solid"></div>
      <p class="mb-0 text-muted">Copyright © 2023 Kehillah</p>
  </div>
  

    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
  </body>
</html>